body {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
}

.header--log-out {
  display: flex;
  align-items: center;
}

main {
  padding: 8px;
}

.add-to-slack {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
