html {
  margin: 0;
  height: 100vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  font-family: monospace;
}

body {
  margin: auto;
  width: 100%;
}

.subscription {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.subscriptions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscription label {
  margin-right: 4px;
}

.incidents {
  min-width: 400px;
  max-width: 800px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.incident {
  margin: 4px;
  padding: 4px;
}

.incident--triggered {
  border-left: red solid 3px;
}

.incident--acknowledged {
  border-left: orange solid 3px;
}

.incident--resolved {
  border-left: green solid;
}

.incident__title {
  margin-top: 0;
  margin-bottom: 0;

  a {
    text-decoration: none;
  }

  a:visited {}
}

.channel-title {
  margin-bottom: 4px;
}
