body {
  margin: 0;
  border-top: solid 5px #00bc4a;
}

.body-wrapper {
  max-width: 1000px;
  margin: auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
}

.header--log-out {
  display: flex;
  align-items: center;
}

main {
  padding: 8px;
}

.add-to-slack {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

pre.flash-error {
  margin: 0;
  padding: 4px;
  background-color: red;
}

pre.flash-notice {
  margin: 0;
  padding: 4px;
  background-color: green;
}
